RULES:
1. Don't spam
2. Don't scam
3. Don't use inapropriate words
4. Don't advertise
5. Don't threat the server
6: Respect people
7: ONLY ENGLISH
8: Trading rule: Don't ever pay first then recieve (USE MIDDLEMAN TO AVOID SCAM) always buy first
9: if you get scammed contact Admin or mod
10: Donators get special ranks
